#colorlib-aside .colorlib-footer ul li a {
    color: rgb(9 9 9 / 98%);
    padding: 4px;
}

#image {
    background-repeat: no-repeat;
}

.row-work {
    margin-inline-start: 109px;
}
#work {
    margin-top: -2px;
    /* border: 24px solid #7a9e1424; */
}
#back {
    margin: 12px 10px;
}

/* skill */

.skill_about {
    font-size: 30px;
    font-family: "Times New Roman", Times, serif;
}
.card2 {
    /* border: 1px solid red; */
    width: 150px;
}
.tech_img {
    width: 10rem;
    height: 10rem;
    margin: 3rem;
}
.paragraph {
    text-align: center;
    font-size: 22px;
}

/* ****** Project ****** */
.pro_row {
    margin: 30px;
}

.pro_card {
    /* border: 5px solid rgb(233, 233, 233); */
    border-bottom: 5px solid rgb(233, 233, 233);
    border-left: 5px solid rgb(233, 233, 233);
    border-right: 5px solid rgb(233, 233, 233);
    border-radius: 10px;
    width: 300px;
    /* padding: 25px; */
    margin: 25px;
    justify-content: center;
    /* margin-bottom: 20px; */
}
.pro_img {
    border-radius: 0px;
    height: 194px;
    width: 300px;
    margin-left: -20px;
    margin-top: -4px;
}

.btt {
    padding: -2px;
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
    border-radius: 5px;
    margin: 7px;
    font-size: 12px;
}
.btt:hover {
    cursor: pointer;
    opacity: 0.9;
}
.pro_title {
    margin-top: 29px;
    margin-bottom: 12px;
}
.content {
    font-weight: 10px;
}
